html,body {
    height: 100%;
    width: 100%;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    box-sizing: border-box;
    min-width: 340px;
    min-height: 560px;
    padding: 15px;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    /* flex */
    display: flex;
    flex: none;
    flex-direction: column;
}

#display {
    background-color: #a5f4fa;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    font: 40px Roboto, sans-serif;
    color: rgb(56, 56, 56);
    /* flex */
    flex: 2;
    display: flex;
    flex-flow: column-reverse;
    text-align: right;
    max-height: 121px;
}

#numberpad {
    /* flex */
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#clear {
    box-sizing: border-box;
    background-color: rgb(247, 192, 192);
    font-size: 18px;
    border: 2px solid rgb(241, 166, 166);
    border-radius: 5px;
    color: rgb(51, 51, 51);
    font: 25px Roboto, sans-serif;
    /* flex */
    flex: 1;
}

#clear:hover {
    background-color: rgb(253, 177, 177);
}

.row {
    box-sizing: border-box;
    /* flex */
    flex: 1;
    display: flex;
    gap: 8px;
}

.row>button {
    box-sizing: border-box;
    background-color: rgb(173, 173, 173);
    font-size: 18px;
    border: 2px solid #696969;
    border-radius: 5px;
    /* flex */
    flex: 1;
    max-width: 70px;
    max-height: 70px;
}

.row>button:hover {
    background-color: #929292;
}

.row>.operation {
    background-color: rgb(135, 215, 252);
    border: 2px solid rgb(99, 201, 248);
    font-size: 23px;
}

.row>.operation:hover {
    background-color: rgb(108, 208, 255);
}

